<a href="https://colab.research.google.com/github/Adibank/DPDM/blob/master/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

Pandas เป็น Library ใน Python ที่ทำให้เราเล่นกับข้อมูลได้ง่ายขึ้น

In [ ]:
import pandas as pd

วิธีการใช้งาน Pandas คือ โหลดไฟล์ข้อมูล เช่น CSV เข้าไป แล้วเราจะได้ข้อมูลในรูปแบบตาราง (DataFrame) ที่แบ่งข้อมูลตามแถวและคอลัมน์ หรือเหมือน Excel ที่เราใช้กันนั่นเอง

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import os

คำสั่ง os.system(โค้ดสั่งคอมมานด์ไลน์)
เป็นคำสั่งสำหรับรันคำสั่งคอมมานด์ไลน์ หากคำสั่งทำงานถูกต้องจะคืนค่า 0 ถ้ามีข้อผิดพลาดจะคืนค่า 1 เช่น

 import os
>>> os.system('ping google.com') #สั่งให้ ping กูเกิล

0 # คำสั่งทำงานถูกต้อง
>>> os.system('mkdi8') #ลองพิมพ์คำสั่งมั่ว ๆ ลงไป

1 # คำสั่งทำงานไม่ถูกต้อง

In [ ]:
os.listdir('/content/drive/My Drive/DWDM_material')

['teach.csv',
 '52835793_259306464964511_3851804852342489088_n.png',
 '03 สังคม.xls',
 'Preprocessing02.html',
 'metadata.xlsx',
 'Copy of w_restaurant.csv',
 'Copy of search_click.csv',
 'reduced_marketbasket.csv',
 'search_click.csv',
 'teach02.csv',
 'w_restaurant.csv',
 'test.csv']

คำสั่ง os.listdir(path)
เป็นคำสั่งสำหรับแสดงรายชื่อไฟล์ที่อยู่ใน path ที่กำหนดโดยแสดงผลลัพธ์ออกมาเป็นชนิดข้อมูลแบบ list

In [ ]:
pd.read_csv('/content/drive/My Drive/DWDM_material/test.csv')

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]

 pd.read_csv โดยคำว่า csv ในที่นี้ย่อมาจาก comma-separated variables หมายถึงตัวแปรที่ถูกแบ่งคั่นด้วยจุลภาค , ดังนั้นโดยพื้นฐานแล้วคำสั่งนี้จะอ่านข้อมูลที่ใช้จุลภาคเป็นตัวคั่น แต่ก็ไม่จำเป็น เราจะใช้อะไรคั่นก็ได้ สามารถกำหนดลงในคีย์เวิร์ดตอนเรียกใช้